# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\workspace\workspace_go\study_go\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
